<div class="row">
 
          <div class="large-6 columns">
 
            <%= image_tag "floating.png" %><br>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Is your business failing to make money from its website?<hr></h3>
 
            <h4 class="hide-for-small">Is your business failing to make money from its website?<hr></h4>
            <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement investment, a website should have a relatively predictable return-on-investment.</h5>
            </div>

          </div>
 
        </div>