<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "floating.png" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Is your business failing to make money from its website?</h3>
    <h4 class="hide-for-small">Is your business failing to make money from its website?</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
    <h5 class="subheader">If you could put $100 a week into your website and have it gain you $500 in revenue, would you do it?  Of course you would!</h5>
    <h5 class="subheader">We will help you understand what it will take to have your business earn more money with an appropriately designed website.</h5>
  </div>

</div>
<hr>
<div class="row">
 
  <div class="hide-for-small large-6 columns">
    <h3 class="show-for-small">We offer web development services that make your business better.</h3>
    <h4 class="hide-for-small">We offer web development services that make your business better.</h4>
    <h5 class="subheader">An effective website is one that converts a passer-by into a buyer.  By understanding the science behind someone viewing a website, we can create a customized design that will appeal to your type of client - helping turn them into a customer.</h5>
    <h5 class="subheader">Our goal is to make your website stand apart from your competitors.  We want to give our clients the biggest advantage we can by serving their customers' needs.</h5>
  </div>

  <div class="large-6 columns">
    <%= image_tag "standing.png" %><br>
  </div>

  <div class="show-for-small large-6 columns">
    <h3 class="show-for-small">We offer web development services that make your business better.</h3>
    <h4 class="hide-for-small">We offer web development services that make your business better.</h4>
    <h5 class="subheader">An effective website is one that converts a passer-by into a buyer.  By understanding the science behind someone viewing a website, we can create a customized design that will appeal to your type of client - helping turn them into a customer.</h5>
    <h5 class="subheader">Our goal is to make your website stand apart from your competitors.  We want to give our clients the biggest advantage we can by serving their customers' needs.</h5>
  </div>

</div>
<hr>
<div class="row">
  <div class="large-6 columns">
    <div class="text-center">
      <img src="http://placehold.it/400x400">
      <h4 class="show-for-small">Online Stores</h4>
      <h4 class="hide-for-small">Online Stores</h4>
    </div>
    <p class="subheader">If you have a business that sells products locally, there's likely no reason why you shouldn't be selling those same products online.  Not only can we get your store online, we can create a marketing tactic that will yield predictable sales.</p>
  </div>
  <div class="large-6 columns">
    <div class="text-center">
      <img src="http://placehold.it/400x400">
      <h4 class="show-for-small">Custom Software (*bad title?*)</h4>
      <h4 class="hide-for-small">Custom Software (*bad title?*)</h4>
    </div>
    <p class="subheader">Do you ever miss calls from potential customers because you're helping another customer?</p>
    <p class="subheader">Say you have a pool cleaning service - we can build a tool that would allow your clients to set up an appointment through your website without the hassle of having to get you on the phone.</p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="text-center">
      <img src="http://placehold.it/400x400">
      <h4 class="show-for-small">Virtual Business Cards</h4>
      <h4 class="hide-for-small">Virtual Business Cards</h4>
    </div>
    <p class="subheader">Some businesses don't need to say a whole lot for customers to know what they're about.  A Personal Shopper may not need to say more than who they are and what they do.  It is beneficial to have a simple website to display your service, but not necessary to put forth the effort in a full blown website.</p>
    <p class="subheader">For people in this situation, we offer simple websites that elegantly display necessary information without the work needed to develop a deep website with many pages of information.</p>
  </div>
  <div class="large-6 columns">
    <div class="text-center">
      <img src="http://placehold.it/400x400">
      <h4 class="show-for-small">Event Broadcasters</h4>
      <h4 class="hide-for-small">Event Broadcasters</h4>
    </div>
    <p class="subheader">Hosting a one time event?  Starting a fund raiser?  There are many situations that don't allow for a lengthy development time.  If you have an event that needs a website designed rapidly to help deliver a message, we can help.</p>
  </div>

</div>