<div class="nav-container contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to image_tag("logo.png"), root_path, :class => 'brand' %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to "Home", root_path, :class => ('active' if current_page?root_path) %></a></li>
        <li><a href="#">Portfolio</a></li>
        <li><%= link_to "Contact", {:controller => "contact", :action => "index"}, :class => ('active' if current_page?contact_path) %></a></li>
      </ul>
    </section>
  </nav>
</div>